product_name        = "myapp"
environment         = "nonprod"
resource_group_name = "rg-234-nonprod"
location            = "centralus"
key_vault_name      = "kv-myapp-nonprod-234"
key_vault_rg        = "rg-234-nonprod"
pg_host             = "psql-data-globe-12-nonprod.postgres.database.azure.com"
pg_database         = "postgres"
pg_username         = "psqladmin"
